body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.game-board {
    display: flex;
    justify-content: center;
    .winnerModal {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 20px;
        left: 0;
        top: 0;
    }
}

.results {
    .result-space {
        margin-bottom: 10px;
    }
    .result-break {
        margin-bottom: 10px;
    }
    .count-results {
        clear: both;
        position: relative;
    }
    .line {
        text-align: center;
        position: relative;
        float: left;
        color: black;
        min-width: 30px;
        border: solid 1px;
        &:nth-of-type(9n) {
            margin-bottom: 10px;
        }
        &.line-break {
            clear: both;
        }
    }
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
  